@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.wrapper {
  padding-bottom: 110px;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.header {
  padding-top: 48px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    padding: 18px 50px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item+.menu__item {
    padding-left: 50px;
  }

  &__link {
    font-weight: 700;
    font-size: 18px;
    color: $default;
    transition: all 0.3s;

    &:hover {
      color: $accent;
    }
  }

  &__link--active {
    color: $accent;
  }
}

.analytics {
  padding-top: 78px;
  margin-bottom: 100px;

  &__content {
    position: relative;
  }

  &__image {
    margin: 0 auto;
  }

  &__icon-mini {
    position: absolute;
    right: 72px;
    bottom: 0;
  }

  &__title {
    padding-top: 80px;
    font-weight: 900;
    font-size: 64px;
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: center;
    padding-top: 78px;
  }

  &__item {
    align-self: flex-start;
    width: 180px;
    background: #c4c4c433;
    border: 2px solid #64646454;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    transition: box-shadow 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 20px #c4c4c433;
    }
  }

  &__item .analytics__text {
    display: none;
  }

  &__item--active {
    width: 100%;
    max-width: 600px;
    background-image: url(../images/bg-content.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item--active .analytics__subtitle {
    text-align-last: left;
  }

  &__item--active .analytics__item-icon {
    position: relative;
    background-color: $accent;
    width: 93px;
    height: 93px;
    border-radius: 50%;
    margin-left: 0;
  }

  &__item--active .analytics__item-box {
    padding: 25px 25px 61px;
  }

  &__item--active .analytics__text {
    display: block;
  }

  &__item--active .analytics__subtitle--first {
    margin-bottom: 20px;
  }

  &__item-icon {
    margin: 0 auto 25px;
  }

  &__item+.analytics__item {
    margin-left: 30px;
  }

  &__item-box {
    padding: 25px 10px 20px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  &__subtitle {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }

  &__subtitle--first {
    margin-bottom: -4px;
  }

  &__text {
    max-width: 550px;
  }
}

.info {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    padding: 18px 75px;
  }
}

.slider {
  &__title {
    max-width: 615px;
    margin-bottom: 64px;
  }

  &__items {
    display: flex;
    justify-content: space-between;

    min-width: 0;
  }

  &__item {
    counter-increment: my-counter;
    max-width: 600px;
  }

  &__subtitle {
    position: relative;
    padding-top: 35px;
    margin-bottom: 85px;
    font-weight: 700;
    font-size: 18px;
    color: $title;

    &::before {
      position: absolute;
      content: counter(my-counter);
      font-weight: 900;
      font-size: 96px;
      line-height: 115px;
      color: #EFEFEF;
      bottom: -35px;
      z-index: -1;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  &__text {
    max-width: 285px;
    padding-left: 32px;
    color: $title;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__info-box {
    max-width: 266px;

    &:nth-child(1) {
      margin-right: 70px;
    }
  }

  &__info-text {
    display: block;
    color: #000000;
    font-size: 32px;
    margin-bottom: 30px;
  }

  .arrow {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: -80px;
      width: 43px;
      height: 17px;
      background-image: url(../images/icons/arrow-right.svg);
      background-repeat: no-repeat;
    }
  }

  &__bullets {
    display: flex;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    width: 11.64px;
    height: 11.64px;
    background: $accent;
  }
}

.footer {
  padding: 400px 0;
}

@import 'media';