@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.wrapper {
  padding-bottom: 200px;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.header {
  padding-top: 30px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    letter-spacing: 2px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__btn {
    display: none;
  }

  &__item+.menu__item {
    padding-left: 50px;
  }

  &__link {
    font-weight: 700;
    font-size: 18px;
    color: $default;
    transition: all 0.3s;

    &:hover {
      color: $accent;
    }
  }

  &__link--active {
    color: $accent;
  }
}

.analytics {
  &__inner {
    padding-top: 60px;
  }

  &__content {
    position: relative;
  }

  &__image {
    margin: 0 auto;
  }

  &__icon-mini {
    position: absolute;
    right: 72px;
    bottom: 18px;
  }

  &__title {
    padding-top: 75px;
    font-weight: 900;
    font-size: 64px;
    text-align: center;
  }

  &__items {
    display: flex;
    justify-content: center;
    padding-top: 85px;
  }

  &__item {
    align-self: flex-start;
    width: 180px;
    background: #c4c4c433;
    border: 2px solid #64646454;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    transition: box-shadow 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 20px #c4c4c433;
    }
  }

  &__item .analytics__text {
    display: none;
  }

  &__item--active {
    width: 100%;
    max-width: 600px;
    background-image: url(../images/bg-content.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item--active .analytics__subtitle {
    text-align-last: left;
  }

  &__item--active .analytics__item-icon {
    position: relative;
    background-color: $accent;
    width: 93px;
    height: 93px;
    border-radius: 50%;
    margin-left: 0;
  }

  &__item--active .analytics__item-box {
    padding: 25px 25px 61px;
  }

  &__item--active .analytics__text {
    display: block;
  }

  &__item--active .analytics__subtitle--first {
    margin-bottom: 20px;
  }

  &__item-icon {
    margin: 0 42px 22px;
  }

  &__item+.analytics__item {
    margin-left: 30px;
  }

  &__item-box {
    padding: 25px 10px 20px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  &__subtitle {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }

  &__subtitle--first {
    margin-bottom: -4px;
  }

  &__text {
    max-width: 550px;
  }
}

.info {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
  }

  &__title {
    max-width: 490px;
    margin-bottom: 20px;
  }

  &__chart {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 340px;
    margin-left: 30px;
    margin-bottom: 102px;
  }

  &__link {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 390px;
    font-size: 20px;
    padding: 18px 50px;
  }

  &__img-box {
    position: relative;
    padding-top: 20px;
  }

  &__image {
    margin-left: auto;
  }

  &__box-text {
    position: absolute;
    display: flex;
    color: #000000;
    text-align: center;
    width: 100%;
    flex-direction: column;
  }

  &__box-text--top {
    top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__box-text--top .info__img-text:nth-child(1) {
    left: 28%;
    max-width: 120px;
  }

  &__box-text--top .info__img-text:nth-child(2) {
    top: 48px;
    left: 18%;
    max-width: 104px;
  }

  &__box-text--top .info__img-text:nth-child(3) {
    top: 105px;
    left: 7%;
    max-width: 93px;
  }

  &__box-text--middle {
    top: 34.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__box-text--middle .info__img-text:nth-child(1) {
    left: 17%;
    max-width: 86px;
  }

  &__box-text--middle .info__img-text:nth-child(2) {
    top: 65px;
    left: -6%;
    max-width: 106px;
  }

  &__box-text--bottom {
    top: 58%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__box-text--bottom .info__img-text:nth-child(1) {
    left: 4%;
    max-width: 88px;
    align-self: start;
  }

  &__box-text--bottom .info__img-text:nth-child(2) {
    top: -25px;
    left: 12%;
    max-width: 143px;
  }

  &__img-text {
    position: relative;
    background-color: $title;
    padding: 6px 13px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    color: $default;
  }
}

.slider {
  &__title {
    max-width: 615px;
    margin-bottom: 29px;
    padding-left: 87px;
  }

  &__wrap {
    padding-bottom: 85px;
    background-image: url(../images/swiper-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  &__inner {
    padding-top: 38px;
    margin-bottom: 10px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    min-width: 0;
  }

  &__items .analytics__item:nth-child(2) {
    margin-left: auto;
  }

  &__item {
    counter-increment: my-counter;
    max-width: 600px;
  }

  &__subtitle {
    position: relative;
    padding: 35px 0 0 88px;
    margin-bottom: 81px;
    font-weight: 700;
    font-size: 18px;
    color: $title;

    &::before {
      position: absolute;
      content: counter(my-counter);
      font-weight: 900;
      font-size: 96px;
      line-height: 115px;
      color: #EFEFEF;
      bottom: -35px;
      z-index: -1;
    }
  }

  &__subtitle--right {
    margin-bottom: 75px;
  }

  &__content {
    display: flex;
    align-items: center;
    padding-left: 87px;
    margin-bottom: 50px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  &__text {
    max-width: 320px;
    padding-left: 32px;
    margin-top: -6px;
    line-height: 1.5;
    color: $title;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__info-box {
    max-width: 266px;

    &:nth-child(1) {
      margin-right: 70px;
    }
  }

  &__info-text {
    display: block;
    color: #000000;
    font-size: 32px;
    margin-bottom: 31px;
  }

  .arrow {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: -80px;
      width: 43px;
      height: 17px;
      background-image: url(../images/icons/arrow-right.svg);
      background-repeat: no-repeat;
    }
  }

  &__bullets {
    display: flex;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    position: relative;
    width: 16px;
    height: 16px;
    background: transparent;
    border: 1px solid $bullet;

    &:hover {
      border: 1px solid $accent;
    }
  }

  .swiper-pagination-bullet-active {
    border: 1px solid $accent;

    &::after {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      background: $accent;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@import 'media';